.portrait__mouth {
  position: absolute;

  top: 15px;
  left: 0;
  right: 0;
  margin: auto;

  width: 30px;
  height: 20px;
  border-bottom: 3px solid black;

  &.smile {
    border-radius: 50%;
    border-left: 3px solid transparent;
    border-right: 3px solid  transparent;
  }

  &.sad {
    top: 25px;
    border-radius: 50%;
    transform: rotate(180deg);
    border-left: 3px solid transparent;
    border-right: 3px solid  transparent;
  }

  &.lol {
    top: 10px;
    width: 40px;
    height: 27px;
    border-radius: 50%;
    border-left: 0 solid transparent;
    border-right: 0 solid  transparent;
    &:before {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 2px;
      background-color: $black;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      margin: auto;
      width: 93%;
      height: 7px;
      background-color: $white;
      border-radius: 0 0 50% 50% / 0 0 100% 100%;
    }
  }
}