.portrait {
  $this: &;

  position: relative;
  width: 140px;
  height: 200px;
  background-color: #f4f4f4;

  &__back-hair {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkorange;

    &.-straight {
      width: 100px;
      border-radius: 50% 50% 0 0;
    }

    &.-long {
      height: 150px;
    }

    &.-shoulder-length {
      height: 120px;
    }

    &.-short {
      height: 70px;
      border-radius: 50% 50% 0 0;
    }

    &.-bold {
      width: 100px;
      top: 25px;
      height: 60px;
      border-radius: 50% 50% 10px 10px;
    }

    &.-afro {
      top: -20px;
      width: 150px;
      height: 150px;
      border-radius: 50%;

      &:before,
      &:after {
        position: absolute;
        display: block;
        content: '';
      }

      &:before {
        top: 30px;
        right: 20px;
        width: 30px;
        height: 5px;
        background-color: black;
        transform: rotate(45deg);
      }

      &:after {
        top: 20px;
        right: 25px;
        width: 10px;
        height: 15px;
        background-color: black;
        transform: rotate(45deg);
        border-radius: 4px 4px 0 0;
      }
    }
  }

  &__body {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
  }

  &__t-shirt {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: underline;

    background-color: violet;
    border-radius: 50% 50% 0 0;
  }

  &__neck {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 40px;
    background-color: bisque;

    &:after {
      position: absolute;
      display: block;
      content: "";

      bottom: -10px;
      left: -10px;
      width: 40px;
      height: 20px;
      border-radius: 50%;
      background-color: bisque;
    }
  }

  &__head {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    background-color: bisque;
    width: 80px;
    height: 100px;
    border-radius: 50%;
  }

  &__front-hair {
    position: absolute;
    top: 0;
  }

  &__top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__eyes {
    position: absolute;
    top: 40px;
  }

  &__eyebrow {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 5px;
    background-color: darkorange;
    border-radius: 0 50% 0 50%;
  }

  &__eye {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;

    &.-left {
      position: absolute;
      left: 15px;

      #{$this}__eyebrow {
        left: -5px;
      }
    }

    &.-right {
      position: absolute;
      right: 15px;

      #{$this}__eyebrow {
        right: -5px;
        border-radius: 50% 0 50% 0;
      }
    }
  }

  &__eyeball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
  }

  &__bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 50px;
    width: 100%;
  }

  &__mouth {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 20px;
    border-radius: 50%;
    border-left: 3px solid transparent;
    border-right: 3px solid  transparent;
    border-bottom: 3px solid black;
  }
}